@model IEnumerable<Entidades.Servicios>

<h2 class="text-center">Todos los servicios registrados</h2>
<p>
    @Html.ActionLink("Registrar nuevo Servicio", "RegistrarServicio")
</p>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_Servicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monto)
        </th>
        <th> Acciones</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_Servicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Monto)
        </td>
        <td>
           
            @Html.ActionLink("Vehículos con servicio de "+@Html.DisplayFor(modelItem => item.Descripcion)+" ", "BuscarVehiculosPorServicio","Vehiculos", new { id=item.ID_Servicio,name = item.Descripcion },null) 
          
        </td>
    </tr>
}

</table>
