@model IEnumerable<Entidades.Vehiculo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Todos los vehículos registrados</h2>

<p>
        @Html.ActionLink("Registrar Nuevo Vehículo", "RegistrarVehiculo")
</p>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_Vehiculo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Placa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dueno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
   
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_Vehiculo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Placa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dueno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marca)
        </td>
     
    </tr>
}

</table>
